* {
  box-sizing: border-box;
  font-family: UniversCyr-Cnd, Times New Roman;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.header {
  background: #f2d36b; /* жёлтая шапка */
  padding: 1px;
}

.logo {
  height: 100px;
}

.screen {
  display: none;
  padding: 10px;
}

.screen.active {
  display: block;
}

h1, h2 {
  margin: 10px 0;
  font-size: 30px;
}

.main-image {
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  margin: 10px 0;
  
}

.subtitle {
  background: #f5f1e3; /* кремовый */
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Times New Roman
}

.btn {
  background: #4b2e1a; /* шоколад */
  color: #fff; 
  margin: 5px auto 0 auto; 
  border: none;
  padding: 14px 24px;
  border-radius: 12px;
  font-size: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;

}

.btn:hover {
  opacity: 0.9;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.answer-btn {
  background: #4b2e1a;
  color: #fff;
  border: none;
  padding: 14px 30px; 
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.site-footer {
  background-color: #F3E6C8; /* кремовый */
  padding: 10px 16px;
  margin-top: 6px;
  text-decoration: none;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #4A2E1F; /* шоколадный текст */
  font-size: 14px;
  line-height: 1.0;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f5f1e3;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

